.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container select,
.input-container input[type="text"] {
    height: 30px;
    padding: 0 10px;
    outline: none;
    border:  2px solid #eccb5f;
    font-size: 1rem;
    background-color: #000000e5;
    
}

.search-bar-container select {
    border-radius: 10px 0 0 10px;
    height: 34px;
    width: 100px;
    border-right: 1px dashed #eccb5f;
    color: #eccb5f;
    font-weight: bold;
}

.input-container input[type="text"] {
    border-radius: 0 10px 10px 0;
    border-left: none;
    width: 200px;
    color: #ddd2d2;
}

.input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #eccb5f;
}